.Header {
    background-color: #ffed00;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 5vmin);
    color: rgb(247, 241, 241);
  }